@model Newsportal.ViewModels.DetailedNewsViewModel

@{
    ViewData["Title"] = Model.News.Title;
    Layout = "_Layout";
}
@{
    var cls = Model.News.UserLikes ? "btn btn-primary" : "btn btn-secondary";
    var count = 0;
}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">@Model.News.Title</h1>
                    <div class="d-flex justify-content-end "><p class="border border-info bg-danger text-white">Read Counts: @Model.News.Count</p></div>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on @Model.News.PublishedDate.Month/@Model.News.PublishedDate.Day @Model.News.PublishedDate.Hour:@Model.News.PublishedDate.Minute by @Model.News.Reporter.FirstName @Model.News.Reporter.LastName</div>
                    <!-- Post categories-->
                    <a class="badge bg-info text-white text-decoration-none link-light" href="#">@Model.News.Category.CategoryName</a>
                </header>
                <!-- Preview image figure-->
                @if (Model.News.Image != null)
                {
                    <figure class="mb-4"><img class="img-fluid rounded" src="/images/news/@Model.News.Image" alt="..."></figure>
                }

                <!-- Post content-->
                <section class="mb-3">
                    @Html.Raw(Model.News.Content)
                </section>
                <!--End -->
                <!--Likes and rating section-->
                <div class="d-flex justify-content-around">
                    <!--Likes section-->
                    <p class="my-1">
                        <span id="totalLikes">@Model.News.TotalLikes</span> <span onclick="likeNews()" id="likeButton" class="@cls">Likes</span>
                    </p>
                    <!--Comment section-->
                    <p id="commentCount" class="my-1">
                        @count Comments
                    </p>
                    <!--Rating section-->
                    <div class="d-inline-flex p-2">
                        <p class="mr-2">Ratings</p>
                        @for (var i = 0; i < 5; i++)
                        {
                            <div class="align-content-center" style="color:black;">
                                <i class="fa fa-thin fa-star" data-index="@i"></i>
                            </div>
    
                        }
                    </div>
                </div>
                <!--End-->

                
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4" id="topLevelCommentCreateForm">
                            <textarea id="topLevelCommentContent" class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                            <button type="submit" class="btn btn-primary mt-2">Comment</button>
                        </form>
                        <div id="commentList">
                            @foreach (var comment in Model.News.Comments.ToList())
                            {
                                count = ListComment(comment, ++count);
                            }    
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">National</a></li>
                                <li><a href="#">International</a></li>
                                <li><a href="#">Politics</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Fashon</a></li>
                                <li><a href="#">Economy</a></li>
                                <li><a href="#">Sports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Recommendations For You</div>
                <div class="card-body">
                    <div height="800px">
                        @foreach (var recommendedNews in Model.RecommendedNews)
                        {
                            <div class="d-flex mt-2" style="border-bottom: 1px solid black;">
                                <div class="flex-shrink-0"><img height="60px" width="60px" src="~/images/loginAvatar.jpeg" alt="Thumbnail"></div>
                                <div class="ms-3">
                                    <div class="fw-bold"><a asp-action="DetailsNews" asp-controller="Home" asp-route-id="@recommendedNews.Id">@recommendedNews.Title</a></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@functions
{
    //DFS algorithm
    public int ListComment(Comment comment, int count, bool nest = false, int width = 0)
    {
        var margin = $"{width}%";
        if (nest)
        {
            <!-- Child comment 1-->
            <div class="d-flex mt-2 pl-1" style="margin-left: @margin; border-left-style: dashed">
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                <div class="ms-3">
                    <div class="fw-bold">@comment.CommentedBy.FirstName @comment.CommentedBy.LastName</div>
                    <p>@comment.Content</p>
                    <p>On: @comment.CommentedOn</p>
                    <p onclick="showCommentForm(this, @comment.Id)" class="replyComment bg-light">Reply</p>
                </div>
            </div>
            
        }
        else
        {
            <div class="d-flex mt-4">
                <!-- Parent comment-->
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                <div class="ms-3">
                    <div class="fw-bold">@comment.CommentedBy.FirstName @comment.CommentedBy.LastName</div>
                    <p>@comment.Content</p>
                    <p>On: @comment.CommentedOn</p>
                    <p onclick="showCommentForm(this, @comment.Id)" class="replyComment bg-light">Reply</p>
                </div>
            </div>

        }
        @foreach (var reply in comment.Replies.ToList())
        {
            count = ListComment(reply, ++count, true, width + 5);
        }
        return count;
    }
}

<div>

    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script type="text/javascript">
        function likeNews() {
            let likesElement = $("#totalLikes");
            let totalLikes = parseInt(likesElement.text());
            console.log(totalLikes);
            const newsId = @Model.News.Id;
            
            const url = '@Url.Action("LikeNews", "News")' + '?newsId=' + newsId;
            console.log(url);
            $.ajax({
                url: url,
                contentType: 'application/html; charset=utf-8',
                type: 'POST',
                beforeSend: function () {
                },
                success: function (result) {
                    console.log(result);
                    likesElement.text(result?.totalLikes)
                    if (result.isLiked === true){
                        $("#likeButton").attr("class", "btn btn-primary");    
                    }else {
                        $("#likeButton").attr("class", "btn btn-secondary");
                    }                   
                    
                },
                error: function (errorResponse) {
                    console.log(errorResponse)
                }
            });
            
        }        
        
        function showCommentForm(element, commentId){
            
            let form = document.getElementById("commentReplyForm");
            
            if (form === null){
                let _div = document.createElement('div');
                _div.id = "replyFormEnclosingDiv";
                _div.innerHTML = `
                    <form class="replyForm mb-2" id="commentReplyForm">
                        <textarea class="form-control" id="commentReplyContent" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                        <button type="submit" class="commentButton btn btn-primary mt-2">Comment</button>
                    </form>
                `;
                let parentNode = element.parentNode;
                parentNode.appendChild(_div);
                createComment(element, commentId);
            }else {
                let parentElement = element.parentNode;      
                let replyForm = document.getElementById("replyFormEnclosingDiv");
                try {
                    parentElement.removeChild(replyForm);                           
                }catch (e){
                    parentElement = replyForm.parentNode;
                    parentElement.removeChild(replyForm);
                    showCommentForm(element, commentId);
                }
            }
            
        }
        
        $("#topLevelCommentCreateForm").submit((e) =>{
            e.preventDefault();
            const comment = {
                CommentContent: $("#topLevelCommentContent").val(),
                NewsId: @Model.News.Id
            }
            
            const url = '@Url.Action("CreateComment", "News")';
            $.ajax({
                url: url,
                type: 'POST',
                data: comment, 
                beforeSend: function () {
                    
                },
                success: function (result) {
                    $("#topLevelCommentContent").val("");
                    let _div = document.createElement('div');
                    _div.className = "d-flex mt-4";
                    _div.innerHTML = `                            
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                        <div class="ms-3">
                            <div class="fw-bold">${result?.commentedBy}</div>
                            <p>${result?.content}</p>
                            <p>On: ${result?.commentedOn}</p>
                            <p onclick="showCommentForm(this, ${result?.id})" class="replyComment bg-light">Reply</p>
                        </div>
                    `;
                    let replyForm = document.getElementById("commentList");
                    insertAfter(replyForm, _div);
                
                },
                error: function (errorResponse) {
                    if(errorResponse.responseText === '' && errorResponse.status === 401) {
                        sweetAlert("error", "Ooops!...", "Please login to comment");    
                    }else {
                        sweetAlert("error", "Ooops!...", errorResponse.responseText);
                    }                  
                   
                }
            });
                
        });
        
        function createComment(element, commentId) {
            document.getElementById("commentReplyForm").addEventListener("submit", function (e) {
                e.preventDefault();
                              
                const comment = {
                    CommentId: commentId,
                    CommentContent: $("#commentReplyContent").val(),
                    NewsId: @Model.News.Id
                }            
                
                sendCommentToServer(element, comment);
            });
        }
        $(document).ready(() => {
            document.getElementById("commentCount").innerText = `@count Comments`;
        });
                
        function sendCommentToServer(element, comment){
            const url = '@Url.Action("CreateComment", "News")';
            $.ajax({
                url: url,
                type: 'POST',
                data: comment, 
                beforeSend: function () {
                    
                },
                success: function (result) {
                    createAndAttachComment(element, result);
                    document.getElementById("commentCount").innerText = `@(count + 1) Comments`;
                },
                error: function (errorResponse) {
                    if(errorResponse.responseText === '' && errorResponse.status === 401) {
                        sweetAlert("error", "Ooops!...", "Please login to comment");    
                    }else {
                        sweetAlert("error", "Ooops!...", errorResponse.responseText);
                    }   
                    let replyForm = document.getElementById("replyFormEnclosingDiv");
                    let parentElement = replyForm.parentNode;
                    parentElement.removeChild(replyForm);
                }
            });
        }
        
        function createAndAttachComment(element, result){
            console.log({successResult: result});
            let siblingNode = element.parentNode.parentNode;
            let parentNode = document.getElementById("commentList");
            let left = siblingNode.style.marginLeft;
            let _div = document.createElement('div');
            _div.className = "d-flex mt-2 pl-1";
            if (left === ''){
                left = 5;                            
            }else {
                left = parseInt(left.toString().replace("%", "")) + 5;
            }
            _div.style.borderLeftStyle = "dashed";
            _div.style.marginLeft = `${left}%`;
            _div.innerHTML = `                            
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                <div class="ms-3">
                    <div class="fw-bold">${result?.commentedBy}</div>
                    <p>${result?.content}</p>
                    <p>On: ${result?.commentedOn}</p>
                    <p onclick="showCommentForm(this, ${result?.id})" class="replyComment bg-light">Reply</p>
                </div>
            `;
            let replyForm = document.getElementById("replyFormEnclosingDiv");
            let parentElement = replyForm.parentNode;
            parentElement.removeChild(replyForm);
            insertAfter(siblingNode, _div); 
        }
        
        function insertAfter(referenceNode, newNode) {
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
        }
        
        $(document).ready(function () {
            let ratedIndex = -1;
            
            resetStarColors();
            
            setStars(Math.round(@Model.News.Rating));

            $('.fa-star').on('click', function () {
               ratedIndex = parseInt($(this).data('index'));
               createRating(ratedIndex);
            });

            $('.fa-star').mouseover(function () {
                resetStarColors();
                let currentIndex = parseInt($(this).data('index'));
                setStars(currentIndex + 1);
            });

            $('.fa-star').mouseleave(function () {
                resetStarColors();

                if (ratedIndex !== -1){
                    setStars(ratedIndex + 1);
                }
                else {
                    setStars(Math.round(@Model.News.Rating));
                }
            });
        });

        function createRating(rating) {
            console.log(rating);
            let data = {
                Rating: rating + 1,
                NewsId: @Model.News.Id
            }
            
            $.ajax({
               url: '@Url.Action("CreateRating", "News")',
               method: "POST",
               data: data, 
               success: function (result) {
                   setStars(result);
               },
               error: function (errorResponse) {
                   sweetAlert("error", "Ooops!...", errorResponse.responseText);
                   
               }
            });
        }

        function setStars(max) {
            for (let i=0; i < max; i++)
                $('.fa-star:eq('+i+')').css('color', 'yellow');
        }

        function resetStarColors() {
            $('.fa-star').css('color', 'black');
        }
         
        
        function sweetAlert(type, title, message){
            Swal.fire({
              icon: type,
              title: title,
              text: message,
            });
        }
        
        
    </script>

}
