@model IEnumerable<Newsportal.Models.News>;
@{

    ViewData["Title"] = "Home Page";
}



<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" asp-controller="home" asp-action="Index">News Portal</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                </a>

            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            @foreach (var item in ViewBag.CategoriesList)
            {

                <a class="p-2 text-muted" asp-action="Display" asp-route-category="@item.CategoryName">@item.CategoryName</a>

            }
        </nav>
    </div>
    <div class="jumbotron p-3 p-md-5 text-dark border border-danger rounded bg-light">
        <div class="col-md-11 px-0">
            @{ /*var featuredNews = from featurenews in Model
                                                                                           where featurenews.FeaturedNews == true
                                                                                           select featurenews;*/


                var breakingNewsItems = Model.Where(n => n.BreakingNews).ToArray();
                var breakingNews = breakingNewsItems[breakingNewsItems.Length - 1];
            }
            <div class="d-flex justify-content-center">
                <p class="bg-danger text-white">Breaking News</p>
            </div>
            <a href="#" class="text-dark">
                <h1 class=" fw-bolder mb-1">@breakingNews.Title</h1>
            </a>
            <div class="lead">
                @{
                    var breakingContent = Html.Raw(breakingNews.Content.Substring(0, breakingNews.Content.IndexOf("<p>", 10)));
                }
                @breakingContent
            </div>

            <hr />
            <div class="d-flex justify-content-around">
                <!--Likes section-->
                <p class="my-1">
                    @{
                        var cls = breakingNews.UserLikes ? "btn btn-primary" : "btn btn-secondary";
                        var colors = Convert.ToInt32(breakingNews.Rating);
                    }
                    @breakingNews.TotalLikes <span class="@cls">Likes</span>
                </p>
                <!--Comment section-->
                <p class=" my-1">
                    @breakingNews.Comments.Count Comments
                </p>
                <!--Rating section-->
                <div class="d-inline-flex p-2">
                    <p class="mr-2">Ratings</p>
                    @for (var i = 0; i < 5; i++)
                    {
                        if (i < colors)
                        {
                            <div class="align-content-center" style="color:yellow;">
                                <i class="fa fa-thin fa-star" data-index="@i"></i>
                            </div>

                        }
                        else
                        {
                            <div class="align-content-center" style="color:black;">
                                <i class="fa fa-thin fa-star" data-index="@i"></i>
                            </div>

                        }

                    }
                </div>
            </div>
            <hr />
            <div class="d-flex justify-content-around">
                <p class="my-3">

                    🖋 @breakingNews.Reporter.FirstName
                    @breakingNews.Reporter.LastName

                </p> <p class="my-3">
                    @breakingNews.Category.CategoryName

                </p>

                <p class=" my-3">
                    @breakingNews.PublishedDate

                </p>
                
                <p class="lead my-3 mb-0"><a asp-controller="Home" asp-action="DetailsNews" asp-route-id="@breakingNews.Id" class="text-primary font-weight-bold">Continue reading...</a></p>

            </div>

        </div>
    </div>
    <div class="jumbotron p-3 p-md-5 text-dark border border-dark rounded bg-light">
        <div class="col-md-11 px-0">
            @{ /*var featuredNews = from featurenews in Model
                                                                                           where featurenews.FeaturedNews == true
                                                                                           select featurenews;*/


                var featuredNewsArray = Model.Where(n => n.FeaturedNews && !n.BreakingNews).ToArray();
                var newsTry = featuredNewsArray[featuredNewsArray.Length - 1];
            }
            <div class="d-flex justify-content-center">
                <p class="bg-info"> @newsTry.Category.CategoryName</p>
            </div>
            <a href="#" class="text-dark">
                <h1 class=" fw-bolder mb-1">@newsTry.Title</h1>
            </a>
            <div class="lead">
                @{
                    var text = Html.Raw(newsTry.Content.Substring(0, newsTry.Content.IndexOf("<p>", 300)));}
                @text
            </div>
            <hr />
            <div class="d-flex justify-content-around">
                <!--Likes section-->
                <p class="my-1">
                    @{
                        cls = newsTry.UserLikes ? "btn btn-primary" : "btn btn-secondary";
                        colors = Convert.ToInt32(newsTry.Rating);
                    }
                    @newsTry.TotalLikes <span class="@cls">Likes</span>
                </p>
                <!--Comment section-->
                <p class=" my-1">
                    @newsTry.Comments.Count Comments
                </p>
                <!--Rating section-->
                <div class="d-inline-flex p-2">
                    <p class="mr-2">Ratings</p>
                    @for (var i = 0; i < 5; i++)
                    {
                        if (i < colors)
                        {
                            <div class="align-content-center" style="color:yellow;">
                                <i class="fa fa-thin fa-star" data-index="@i"></i>
                            </div>

                        }
                        else
                        {
                            <div class="align-content-center" style="color:black;">
                                <i class="fa fa-thin fa-star" data-index="@i"></i>
                            </div>

                        }

                    }
                </div>
            </div>
            <hr />
            <div class="d-flex justify-content-around">
                <p class="my-3">

                    🖋 @newsTry.Reporter.FirstName
                    @newsTry.Reporter.LastName

                </p>

                <p class=" my-3">
                    @newsTry.PublishedDate

                </p>
                <p class="lead my-3 mb-0"><a asp-controller="Home" asp-action="DetailsNews" asp-route-id="@newsTry.Id" class="text-primary font-weight-bold">Continue reading...</a></p>

            </div>

        </div>
    </div>

    <h1>The numbers of News in Featured news section is :@featuredNewsArray.Length </h1>
    @{
        var secondFeatureNews = featuredNewsArray[featuredNewsArray.Length - 2];
        var thirdFeatureNews = featuredNewsArray[featuredNewsArray.Length - 2];

        var textTwo = Html.Raw(secondFeatureNews.Content.Substring(0, secondFeatureNews.Content.IndexOf(".", 80)));
        var textThree = Html.Raw(thirdFeatureNews.Content.Substring(0, thirdFeatureNews.Content.IndexOf('.', 80)));
        if(secondFeatureNews.Image==null)
        {
            textTwo = Html.Raw(secondFeatureNews.Content.Substring(0, secondFeatureNews.Content.IndexOf(".", 340)));
        }
         if(thirdFeatureNews.Image==null)
        {
            textThree = Html.Raw(thirdFeatureNews.Content.Substring(0, thirdFeatureNews.Content.IndexOf('.', 340)));
        }


    }

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-300">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">@secondFeatureNews.Category.CategoryName</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">@secondFeatureNews.Title</a>
              </h3>
              <div class="mb-1 text-muted">@secondFeatureNews.PublishedDate.ToString("M")</div>
              <p class="card-text mb-auto">@textTwo</p>
              <a asp-controller="Home" asp-action="DetailsNews" asp-route-id="@secondFeatureNews.Id">Continue reading</a>
            </div>
            @if(secondFeatureNews.Image!=null){
             <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="/images/news/@secondFeatureNews.Image" data-holder-rendered="true">
                    
                }
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-300">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">@thirdFeatureNews.Category.CategoryName</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">@thirdFeatureNews.Title</a>
              </h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="card-text mb-auto">@textThree</p>
              <a href="#">Continue reading</a>
            </div> 
                @if (thirdFeatureNews.Image != null)
                {

                    <img class="card-img-right flex-auto d-none d-md-block"  style="width: 200px; height: 250px;" src="/images/news/@thirdFeatureNews.Image" data-holder-rendered="true">
                }
            </div>
        </div>
    </div>
     @{
        var NormalNews = Model.Where(n => !n.FeaturedNews && !n.BreakingNews).ToArray();
        var normalNews1 = NormalNews[NormalNews.Length - 1];
        var normalNews2 = NormalNews[NormalNews.Length - 2];
        var normalNews1Text = Html.Raw(secondFeatureNews.Content.Substring(0, normalNews1.Content.IndexOf(".", 300)));
        var normalNews2Text = Html.Raw(secondFeatureNews.Content.Substring(0, normalNews1.Content.IndexOf(".", 300)));


    }
    Normal news Start here @NormalNews.Length
    <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-300">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">@normalNews1.Category.CategoryName</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">@normalNews1.Title</a>
              </h3>
              <div class="mb-1 text-muted">@normalNews1.PublishedDate.ToString("M")</div>
              <p class="card-text mb-auto">@normalNews1Text</p>
              <a asp-controller="Home" asp-action="DetailsNews" asp-route-id="@normalNews1.Id">Continue reading</a>
            </div>
            @if(secondFeatureNews.Image!=null){
             <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="/images/news/@normalNews1.Image" data-holder-rendered="true">
                    
                }
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-300">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">@normalNews2.Category.CategoryName</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">@normalNews2.Title</a>
              </h3>
              <div class="mb-1 text-muted">@normalNews2.PublishedDate.ToString("M")</div>
              <p class="card-text mb-auto">@normalNews2Text</p>
                           <a asp-controller="Home" asp-action="DetailsNews" asp-route-id="@normalNews2.Id">Continue reading</a>

            </div> 
                @if (normalNews2.Image != null)
                {

                    <img class="card-img-right flex-auto d-none d-md-block"  style="width: 100px; height: 100px;" src="/images/news/@normalNews2.Image" data-holder-rendered="true">
                }
            </div>
        </div>
    </div>  
            
    <hr class="bg-info" />
    <h2> normal news begins here</h2>
   
    @*<div class="row mb-2  h-auto">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">@normalNews1.Category.CategoryName normal</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">@normalNews1.Title post</a>
                    </h3>
                    <div class="mb-1 text-muted">@normalNews1.PublishedDate.Month/@secondFeatureNews.PublishedDate.Day</div>
                    <p class="card-text mb-auto">@normalnews1Text ...</p>
                    <div class="d-flex justify-content-around">
                        <!--Likes section-->
                        <p class="my-1">
                            @{
                                cls = normalNews1.UserLikes ? "btn btn-primary" : "btn btn-secondary";
                                colors = Convert.ToInt32(normalNews1.Rating);
                            }
                            @normalNews1.TotalLikes <span class="@cls">Likes</span>
                        </p>
                        <!--Comment section-->
                        <p class=" my-1">
                            @normalNews1.Comments.Count Comments
                        </p>
                        <!--Rating section-->
                        <div class="d-inline-flex p-2">
                            <p class="mr-2">Ratings</p>
                            @for (var i = 0; i < 5; i++)
                            {
                                if (i < colors)
                                {
                                    <div class="align-content-center" style="color:yellow;">
                                        <i class="fa fa-thin fa-star" data-index="@i"></i>
                                    </div>
        
                                }
                                else
                                {
                                    <div class="align-content-center" style="color:black;">
                                        <i class="fa fa-thin fa-star" data-index="@i"></i>
                                    </div>
        
                                }
        
                            }
                        </div>
                    </div>
                    <a asp-controller="Home" asp-action="DetailsNews" asp-route-id="@normalNews1.Id">Continue reading</a>

                </div>
                @if (normalNews1.Image != "/images/news/")
                {

                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="@normalNews1.Image" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="@normalNews1.Image" data-holder-rendered="true">
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm ">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">@normalNews2.Category.CategoryName normal</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">@normalNews2.Title normal jsdnfjna jsndf</a>
                    </h3>
                    <div class="mb-1 text-muted">@normalNews2.PublishedDate.Month/@normalNews2.PublishedDate.Day</div>
                    <p class="card-text mb-auto">@normalnews2Text ...</p>
                    <div class="d-flex justify-content-around">
                        <!--Likes section-->
                        <p class="my-1">
                            @{
                                cls = normalNews2.UserLikes ? "btn btn-primary" : "btn btn-secondary";
                                colors = Convert.ToInt32(normalNews2.Rating);
                            }
                            @normalNews2.TotalLikes <span class="@cls">Likes</span>
                        </p>
                        <!--Comment section-->
                        <p class=" my-1">
                            @normalNews2.Comments.Count Comments
                        </p>
                        <!--Rating section-->
                        <div class="d-inline-flex p-2">
                            <p class="mr-2">Ratings</p>
                            @for (var i = 0; i < 5; i++)
                            {
                                if (i < colors)
                                {
                                    <div class="align-content-center" style="color:yellow;">
                                        <i class="fa fa-thin fa-star" data-index="@i"></i>
                                    </div>
        
                                }
                                else
                                {
                                    <div class="align-content-center" style="color:black;">
                                        <i class="fa fa-thin fa-star" data-index="@i"></i>
                                    </div>
        
                                }
        
                            }
                        </div>
                    </div>
                    <a asp-controller="Home" asp-action="DetailsNews" asp-route-id="@normalNews2.Id">Continue reading</a>

                </div>  @if (normalNews2.Image != "/images/news/")
                {

                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="@normalNews2.Image" data-holder-rendered="true" style="width: 200px; height: 250px;">
                }
            </div>
        </div>
    </div>*@



</div>