@model IEnumerable<Newsportal.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<div class="table table-responsive">
    <table class="table table-header-bg">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reporter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPublished)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @{
                            var valuev = "";
                            if (item.Content.ToString().Length < 500)
                                valuev = item.Content.ToString();
                            else
                                valuev = item.Content.ToString().Substring(0, 500) + "....";}


                        @valuev<a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reporter.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPublished)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || !item.IsPublished)
                        {
                            <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@item.Id">Edit</a>
                        }
                        <a asp-action="Details" class="btn btn-sm btn-secondary" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>