@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _userManager;

@{
  var user = (Reporter) await _userManager.GetUserAsync(User);
  var userRoles = await _userManager.GetRolesAsync(user);
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>@ViewData["Title"]-Admin|News-Portal</title>
        
        <link rel="stylesheet" href="~/css/dashboard.css" />
        
        <!-- bootstrap from _Layout -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />*@
        <!--end -->
        
    </head>
    <body>
        <div class="wrapper">
            <div class="section">
                <div class="top_navbar">
                    <div class="hamburger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="profile">
                    <img src="~/images/loginAvatar.jpeg">
                    <h3>@user.FirstName @user.LastName</h3>
                    <p>@userRoles.First()</p>
                </div>
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Home">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="item">Home</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Administration" class="active">
                            <span class="icon"><i class="fas fa-desktop"></i></span>
                            <span class="item">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="News">
                            <span class="icon"><i class="fas fa-desktop"></i></span>
                            <span class="item">News</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Categories">
                            <span class="icon"><i class="fas fa-user-friends"></i></span>
                            <span class="item">Categories</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Account">
                            @*<span class="icon"><i class="fas fa-tachometer-alt"></i></span>*@
                            <span class="icon"><i class="fas fa-user-friends"></i></span>
                            <span class="item">Users</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="ListRoles" asp-controller="Administration">
                            <span class="icon"><i class="fas fa-database"></i></span>
                            <span class="item">Roles</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="EditUsersInRole" asp-controller="Administration">
                            <span class="icon"><i class="fas fa-chart-line"></i></span>
                            <span class="item">User Roles</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Home">
                            <span class="icon"><i class="fas fa-user-shield"></i></span>
                            <span class="item">Admin</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Home">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <span class="item">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            @RenderBody()
        </div>
        <script>
               var hamburger = document.querySelector(".hamburger");
                hamburger.addEventListener("click", function(){
                    document.querySelector("body").classList.toggle("active");
            })
        </script>

        <!-- default js from _Layout -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/sweetalert.min.js"></script>
        <!-- end -->
        
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>